<!-- Component -->
<div class="navbar-component">
    <!-- Class `area` is a container -->
    <div class="navbar area">
        <!-- Logo -->
        <h1 class="logo">
            <a href="#">RECIPES BOOK</a>
        </h1>
        <!-- List of links -->
        <nav id="navigation" class="list">
            <ul>
                <li>
                    <form>
                        <input class="awesomplete" id="search-recipe" name="search-recipe"  placeholder="Search Recipe" />
                        <button id="find-recipe" type="button">Go</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</div>